<!DOCTYPE html>
<html>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->

<head>

</head>

<body>
	<p> <a href="/profile/<%=user.name%>">Go to profile!</a></p>
	<p> <a href="/logout">Logout</a></p>

    <p> User: <b> <%= user.name %> </b> </p>
    <p> Followed Marks: <br> <br>

	<% for (friend of user.friends.values()) { %>
		<% for (mark of friend.getMarks(sort)) { %>
			<a href= <%= mark.url %>> <%= mark.name %></a> | 
			<a href="/profile/<%=mark.owner.name%>"><%=mark.owner.name%></a> | 
			<span id="<%=mark.name%>"> <a href="javascript:void(0)"> Checks: <%= mark.checkCount%></a> </span> | <span id="<%=mark.uid%>"> <a href="javascript:void(0)"> reMark </a></span><br>

			<script>


			function stealFunction()
			{
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() { 
				if(xhttp.readyState == 4 && xhttp.status == 200){
					document.getElementById('<%=mark.uid%>').innerHTML = xhttp.responseText;
				}
			};
				xhttp.open("POST", "/stealMark", true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send('uid=<%=mark.uid%>');				
				
			}
			
			function checkFunction()
			{
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() { 
					if(xhttp.readyState == 4 && xhttp.status == 200){
						document.getElementById('<%=mark.name%>').innerHTML = xhttp.responseText;
					}
				};
				xhttp.open("POST", "/checkMark", true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send('uid=<%=mark.uid%>');
			}

			document.getElementById('<%=mark.uid%>').addEventListener("click", stealFunction, false);
			document.getElementById('<%=mark.name%>').addEventListener("click", checkFunction, false);
			</script>

		<% } %>
    <% } %>
	
	
	
	
    <!-- stuff here -->
    </p>    

</body>

<!--
<script>
$(document).ready( function() {
  $("#startText").on('click', function() {
    // alert("wow");
    console.log("wow");

    $.post("/javascript/", "wow bro this is a request")
  });
});
</script> -->

</html>