<!DOCTYPE html>
<html>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->

<head>

</head>

<body>

<!-- <div id="startText"> wow this is some text lol </div> -->

	<p> <a href="/profile/">Go to profile!</a></p>
	<p> <a href="/logout">Logout</a></p>
	
	

    <p> User profile: <b> <%= user.name %> </b> </p>
    <p> Marks: <br> 

    <% for (mark of user.getMarks(sort)) { %>
      <a href="<%= mark.url %>"> <%= mark.name %></a> <br>
    <% } %>
    <!-- stuff here -->
    </p>

    <p> <a href="?sort=name"> Sort by Mark name </a> <br>
     <a href="?sort=url"> Sort by Mark URL </a> <br>
     <a href="?sort=username"> Sort by username </a> </p>

    <p> Following: <br>
    <% for (friend of user.friends.values()) { %>
      <a href="<%= friend.name %>"> <%= friend.name %></a> <br>
    <% } %>
    </p>

</body>

<!--
<script>
$(document).ready( function() {
  $("#startText").on('click', function() {
    // alert("wow");
    console.log("wow");

    $.post("/javascript/", "wow bro this is a request")
  });
});
</script> -->

</html>